<div class="flex flex-column gap-3">
  <app-breadcrumbs></app-breadcrumbs>
  <app-section (valueEmit)="onButtonSearchClicked($event)"></app-section>
  <div
    *ngIf="filteredCourses.length; else zeroCourses"
    class="flex flex-column gap-3"
  >
    <app-coursecard
      *ngFor="let course of filteredCourses | orderBy : 'creationDate'"
      [course]="course"
      (edit)="editCourse($event)"
    ></app-coursecard>

    <div class="flex flex-row justify-content-center">
      <p-button
        [outlined]="true"
        label="Загрузить еще"
        severity="secondary"
        (click)="loadMore()"
      ></p-button>
    </div>
  </div>
</div>

<ng-template #zeroCourses>
  <div class="flex flex-column justify-content-center align-items-center">
    Нет данных
  </div>
</ng-template>
