* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 164px;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
}

body {
  padding: 16px 56px 16px 56px;
  background-color: #e2e8f0;
  min-height: calc(100vh - 120px);
  width: 100% -100px;
}
