<app-header></app-header>
<!-- [authStatus]="authStatus" -->
<body class="flex flex-column justify-content-center align-items-center">
  <router-outlet></router-outlet>
</body>

<!-- <body
  *ngIf="authStatus === false"
  class="flex flex-column justify-content-center align-items-center"
>
  <app-login-form (userDataEmit)="userLogin($event)"></app-login-form>
</body>

<body *ngIf="authStatus">
  <app-courselist></app-courselist>
</body>
<app-footer></app-footer> -->

<!-- (userLogoutEmit)="userLogout()"" -->
